{{#if noProducts}}
	<h3>No hay productos creados</h3>
{{else}}
	<h4>Se encontraron {{count}} productos</h4>
	<table>
		<thead>
			<tr>
				<th>-</th>
				<th>Nombre</th>
				<th>SKU</th>
				<th>Código</th>
				<th>Precio público</th>
				<th>Stock</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id='products-table'>
			{{#each products}}
				<tr>
					{{#eq image ''}}
						<td>
							<img src='/images/new-product-default.png' alt='default' title='{{name}}' />
						</td>
					{{else}}
						<td>{{image}}</td>
					{{/eq}}
					<td>{{name}}</td>
					<td>{{sku}}</td>
					<td>{{product_code}}</td>
					<td>{{public_price}}</td>
					<td>{{quantity}}</td>
					<td class='action-buttons'>
						<button data-row_id='{{_id}}' class='edit' title='Editar'>
							<img src='/images/edit.svg' alt='edit' />
						</button>
						<button data-row_id='{{_id}}' class='delete' title='Eliminar'>
							<img src='/images/delete.svg' alt='edit' />
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}