{{#if noStores}}
	<h3>No hay tiendas creadas</h3>
{{else}}
	<h4>Se encontraron {{count}} tiendas</h4>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Dirección</th>
				<th>Teléfono</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id='stores-table'>
			{{#each stores}}
				<tr>
					<td>{{name}}</td>
					{{#eq address ''}}
						<td>-</td>
					{{else}}
						<td>{{address}}</td>
					{{/eq}}
					{{#eq phone ''}}
						<td>-</td>
					{{else}}
						<td>{{phone}}</td>
					{{/eq}}
					<td class='action-buttons'>
						<button data-row_id='{{_id}}' class='edit' title='Editar'>
							<img src='/images/edit.svg' alt='edit' />
						</button>
						<button data-row_id='{{_id}}' class='delete' title='Eliminar'>
							<img src='/images/delete.svg' alt='edit' />
						</button>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}